* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    word-break: break-all;
    white-space: normal;
}

#main-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 360px;
    height: 480px;
    background-color: #FEFAE0;
    border: 1px solid black;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

#display {
    flex: 1;
    width: 100%;
    background-color: #E9EDC9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px 24px;
    margin-bottom: 24px;
}

#display-last, #display-current {
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#display-last {
    flex: 1;
    
}

#display-current {
    font-size: 32px;
}

#button-container {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#button-container button {
    flex: 1 0 60px;
    border-radius: 6px;
    font-size: 16px;
}